body {
    color: silver !important;
    background-color: black;
    background-image: url("../images/castleimage.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 1.1em !important;
    font-family: 'Nunito', sans-serif !important;
}
h1 {
    color: #2d1235;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-right: auto;
    margin-left: auto;
}

.img-fluid { 
    min-height: 100px;
    border: #2d1235;
}